body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('./images/grassBackground.png');
    background-size: cover;
    background-color: #BFE2FF;

    z-index: 0;
}

header {
    width: 506px;
    height: 50px;
    margin-top: 50px;
}

h1 {
    margin: 0;
    color: #616161;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    text-align: center;
}

.page1 section {
    margin-top: 25px;
    background-image: url('./images/miffyAndFriends.png');
    background-repeat: no-repeat;
    width: 487px;
    height: 565px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
    width: 487px;
    height: 404px;

    z-index: 2;
}

form label {
    margin: 0;
    padding-top: 80px;
    color: #616161;
    font-family: 'Montserrat', serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

h2 {
    margin: 0;
    padding-top: 80px;
    color: #616161;
    font-family: 'Montserrat', serif;
    font-size: 32px;
    text-align: center;
}

form input[type="text"] {
    margin-top: 30px;
    margin-bottom: 40px;

    padding: 20px 60px;

    font-family: 'Montserrat', serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

    border: 1px solid #EFEFEF;
    border-radius: 20px;
    background-color: #EFEFEF;
}

input:focus {
    outline: 2px solid #FDBA9C;
    border-color: #FDBA9C;
}

form input[type="submit"]{
    display: inline-block;
    padding: 15px 60px;

    background-color: #FDBA9C;
    color: white;

    border: none;
    border-radius: 25px;

    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

article {
    position: absolute;
    top: 300px;
    width: 487px;
    height: 404px;

    border-radius: 20px;

    background-color: #EFEFEF;
    transform: rotate(-7deg);
    z-index: -1;
}